tick/chronograf/data/backup/*
tick/chronograf/data/chronograf-v1.db
tick/grafana/data/plugins
tick/grafana/data/png
tick/influxdb/data/data
tick/kapacitor/data/replay/*
tick/kapacitor/data/cluster.id
tick/kapacitor/data/server.id

